{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titre %}
ADD USER
{% endblock %}

{% block main %}
<h1>ADD USER</h1>
    <form method="post">
        {% if err %}
            <div class="alert alert-danger">{{ err }}</div>
        {% endif %}
        {% csrf_token %}
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example1">PRENOM</label>
                <input type="text" name="prenom" id="form3Example1" class="form-control" />
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example2">NOM</label>
                <input type="text" name="nom" id="form3Example2" class="form-control" />
              </div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">ADRESSE EMAIL</label>
            <input type="email" name="email" id="form3Example3" class="form-control" />
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example4">MOT DE PASSE</label>
            <input type="password" name="passwd" id="form3Example4" class="form-control" />
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">TYPE DE COMPTE</label>
            <select class="form-control" name="type" id="exampleFormControlSelect1">
              <option value="GESTIONNAIRE">GESTIONNAIRE</option>
              <option value="PROPRIETAIRE">PROPRIETAIRE</option>
            </select>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example4">TELEPHONE</label>
            <input type="tel" name="telephone" id="form3Example4" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
    </form>
{% endblock %}