{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titre %}
ADD USER
{% endblock %}

{% block main %}
<h1>CONNEXION</h1>
    {% if err %}
        <div class="alert alert-danger">{{ err }}</div>
    {% endif %}
    <form method="post" class="p-4">
        {% csrf_token %}
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">ADRESSE EMAIL</label>
        <input type="email" name="email" id="form2Example1" class="form-control" />
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">MOT DE PASSE</label>
        <input type="password" name="passwd" id="form2Example2" class="form-control" />
      </div>
      <button class="btn btn-primary">CONNEXION</button>
    </form>
{% endblock %}